@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BusinessLayer.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Search", "EmployeeBLayer", FormMethod.Get))
{
    <b>Search By:</b>
    @Html.RadioButton("searchBy", "Name", true)<text>Name</text>
    @Html.RadioButton("searchBy", "Gender", true)<text>Gender</text>
    <br>
    <br>
    @Html.TextBox("search")
    <input type="submit" value="Seacrh" />
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.First().Name)*@
            @Html.ActionLink("Name","Search",new { sortBy = ViewBag.SortNameParameter, searchBy= Request.QueryString["searchBy"], search = Request.QueryString["search"] })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().Gender)*@
            @Html.ActionLink("Gender", "Search", new { sortBy = ViewBag.SortGenderParamneter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DepartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfBirth)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "EmployeeBLayer", new { id = item.EmployeeId }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                    <input type="submit" value="Delete" onclick="return confirm('Are You Sure You Want To Delete Record With Name : @item.Name')" />
                </td>
            </tr>
        }
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Search", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["seacrh"] }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation= true, DisplayItemSliceAndTotal = true}
    )